body.login {
    height: 100vh;
    grid-template-rows: 120px 1fr 60px;
    grid-template-areas: "cabecalho" "principal" "rodape";
}

.login .cabecalho{
    grid-area: cabecalho;
}

.login .principal{
    grid-area: principal;
    height: calc(100vh - 180px);
}

h3{
    font-size: 2.1rem;
    margin: 20px;
}

form > div{
    padding-bottom: 15px;
}

form >div label,
form >div input,
form > button{
    font-size: 1.5rem;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.erros p {
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(252, 5, 5);
    background-color: #ffd900;
    padding: 3px 6px;
    margin-top: 0;